{{- $provider := trim .Site.Params.Repo.provider " " | lower -}} 
{{- $id := .Site.Params.Repo.id -}}
{{- if and $provider $id }}
  {{- if eq $provider "github" }}
    {{ template "git-support" (dict "Provider" $provider "Permalink" ((printf "%s%s" "https://github.com/" $id) | absURL) "page" .) }}
  {{- else if eq $provider "bitbucket" }}
    {{ template "git-support" (dict "Provider" $provider "Permalink" ((printf "%s%s" "https://bitbucket.org/" $id) | absURL) "page" .) }}
  {{- else if eq $provider "gitlab" }}
    {{ template "git-support" (dict "Provider" $provider "Permalink" ((printf "%s%s" "https://gitlab.com/" $id) | absURL) "page" .) }}
  {{ end -}}
{{ end -}}
{{ define "git-support" }}
<div class="b-git-support">
  <hr>
  <p class="b-git-support__message">
    Is something is missing or incorrect?
    Propose a <a href="{{ .Permalink }}/edit/master/content/{{ .page.File.Path }}" title="Edit on {{ .Provider | title }}">change</a>
    {{- if eq .Provider "github" }} or submit an <a href="{{ .Permalink }}/issues/new" title="Submit an issue on {{ .Provider | title }}">issue</a>{{ end -}}.
  </p>
  <p class="b-git-support__updated">
    {{ if .page.Lastmod }}
    Document last updated: <time>{{ .page.Lastmod.Format "January 2, 2006" }}</time>
    {{ end }}
    {{ if .page.GitInfo }}
    <a class="hide-child link primary-color" href="{{.Permalink}}/commit/{{.page.GitInfo.Hash}}">
      {{ .page.GitInfo.Subject }} ({{ .page.GitInfo.AbbreviatedHash }})</a>
    {{ end -}}
  </p>
</div>
{{ end }}
