{{- with .Site.Params.Repo }}
<div class="b-gitlinks">
  {{- if (eq (trim .provider " " | lower) "github") | and (isset . "id") }}
  <a href="https://github.com/{{ .id }}/stargazers" target="_new" class="b-gitlinks__star">
    {{- partial "svg/gitlinks-star.svg" . -}}
  </a>
  <a href="https://github.com/{{ .id }}" title="{{ .id }}" target="_new" class="b-gitlinks__repo b-gitlinks__repo--github">
    {{- partial "svg/gitlinks-github.svg" . -}}
  </a>
  {{ else if (eq (trim .provider " " | lower) "bitbucket") | and (isset . "id") }}
  <a href="https://bitbucket.org/{{ .id }}" class="b-gitlinks__watch">
    {{- partial "svg/gitlinks-watch.svg" . -}}
  </a>
  <a href="https://bitbucket.org/{{ .id }}" title="{{ .id }}" class="b-gitlinks__repo b-gitlinks__repo--bitbucket">
    {{- partial "svg/gitlinks-bitbucket.svg" . -}}
  </a>
  {{ else if (eq (trim .provider " " | lower) "gitlab") | and (isset . "id") }}
  <a href="https://gitlab.com/{{ .id }}" title="Star {{ .id }}" target="_new" class="b-gitlinks__star">
    {{- partial "svg/gitlinks-star.svg" . -}}
  </a>
  <a href="https://gitlab.com/{{ .id }}" title="See {{ .id }}" target="_new" class="b-gitlinks__repo b-gitlinks__repo--gitlab">
    {{- partial "svg/gitlinks-gitlab.svg" . -}}
  </a>
  {{ end -}}
</div>
{{ end -}}
