<nav class="b-nav l-nav" role="navigation">
  <div class="b-nav__menutoggle js-toggle__menu">
    {{ partial "svg/menu.svg" . }}
  </div>
  <a class="b-logo" href="{{ .Site.BaseURL }}">
    {{- if in .Site.Params.Logo ".svg" -}}
      {{ partial .Site.Params.Logo . }} 
    {{- else -}}
      <img src="{{ .Site.Params.Logo }}" alt="{{ .Site.Title }}" class="b-logo__img">
    {{- end -}}
    <h1 class="b-logo__text{{ if not .Site.Params.Logo }} .s__is-visible{{ end }}">{{ .Site.Title }}</h1>
  </a>
  {{- partial "search.html" . }}
  <div class="b-nav__items">
    {{- with .Site.Menus.nav }}
      <ul class="b-nav__menu">
        {{- range $key, $value := . }}
        <li class="b-nav__menuitem menuitem-{{ $key }}">
          <a href="{{ $value.URL }}" title="{{ $value.Name }}"{{- if in $.Permalink $value.URL }} class="s-is__active"{{ end -}}>{{ $value.Name }}</a>
        </li>
        {{ end -}}
      </ul>
    {{ end -}}
    {{- partial "git_links.html" . -}}
  </div>
  <div class="b-nav__searchtoggle js-toggle__search">
    {{ partial "svg/search-icon.svg" . }}
  </div>
</nav>
