<form class="b-search-form l-search-form js-search-form" autocomplete="off">
  <input type="search" name="search" id="search" class="b-search-form__input js-search-input" autocomplete="off">
  <span class="b-search-form__close js-toggle__search">
    {{ partial "svg/close.svg" . }}
  </span>
</form>
<div class="b-matches l-matches js-matches">
  <span class="b-matches__close js-toggle__matches">
    {{ partial "svg/close.svg" . }}
  </span>
  <small>Suggestions</small>
  <div class="js-matches__container">
  </div>
</div>
