{{ $currentPage := . }}
{{- $section := (.Site.GetPage "section" .Section) -}}
<aside class="b-sidebar l-left">
  <div class="b-sidebar__outer">
    <div class="b-sidebar__inner">
      {{- if .Site.Menus.nav }}
        <div class="b-sidebar__mobile">
        {{- template "menu" (dict "Menu" .Site.Menus.nav "currentPage" $currentPage) -}}
        </div>
      {{ end -}}
      {{- partial "version-select.html" . -}}
      {{- if (index .Site.Menus $section.Section) }}
        {{ template "menu" (dict "Menu" (index .Site.Menus $section.Section) "currentPage" $currentPage) }}
      {{ else if and .Site.Menus.home .IsHome }}
        {{ template "menu" (dict "Menu" .Site.Menus.home "currentPage" $currentPage) }}
      {{ else if .Site.Menus.sidebar }}
        {{ template "menu" (dict "Menu" .Site.Menus.sidebar "currentPage" $currentPage) }}
      {{ end -}}
    </div>
  </div>
</aside>
{{- define "menu" }}
  {{- $currentPage := .currentPage -}}
  {{- with .Menu }}
  <ul class="b-sidebar__menu">
    {{- range $key, $value := . }}
    <li class="b-sidebar__menu-item{{ if or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }} s-is__active{{ end -}}">
      {{ if .HasChildren }}
        <h2 class="b-sidebar__header">{{ $value.Name }}</h2>
        {{ template "menu" (dict "Menu" $value.Children "currentPage" $currentPage) }}
      {{ else }}
        <a href="{{ $value.URL }}" title="{{ $value.Name }}">{{ $value.Name }}</a>
      {{ end }}
      {{- if $currentPage.IsMenuCurrent $value.Menu $value }}
        {{ partial "toc.html" $currentPage }}
      {{ end -}}
    </li>
    {{ end -}}
  </ul>
  {{ end }}
{{ end }}
