{{ $page := . }}
<!-- ignore empty links with + -->
{{ $headers := findRE "<h[2].*?>(.|\n])+?</h[1-6]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
<!-- a post can explicitly disable Table of Contents with toc: false -->
{{ $show_toc := (eq $.Params.toc false) }}
{{ if $has_headers }}
	<ul class="b-sidebar__submenu">
	{{ range $headers }}
		{{ $header := . }}
		{{ range first 1 (findRE "<h[2]" $header 1) }}
			{{ range findRE "[2]" . 1 }}
				{{ $level := (int .) }}
				{{ if gt $level 2 }}
					<ul class="b-sidebar__submenu">
				{{ end }}
				{{ $anchorId := (replace ($header | plainify | htmlEscape | urlize | safeURL) "." "-") }}
				{{ $href := printf "%s%s%s" $page.Permalink "#" $anchorId | string }}
				<li class="b-sidebar__menu-item b-sidebar__level-{{ $level }}">
					<a href="{{ $href | relURL }}">{{ $header | plainify | htmlEscape }}</a>
				</li>
				{{ if gt $level 2 }}
					</ul>
				{{ end }}
			{{end}}
		{{end}}
	{{ end }}
	</ul>
{{ end }}
