{{ define "main" }}
{{- partial "sidebar.html" . -}}
<div class="b-content l-right">
  <div class="b-content__wrapper">
    <h1 class="b-content__title">{{ .Title }}{{ if .IsDraft }} (Draft){{ end }}</h1>
    <div class="b-content__body">
      {{ .Content }}
      {{ partial "pagination.html" . }}
    </div>
    <ul class="b-content__children">
      {{- range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}" title="{{ .Summary }}">{{ .Title }}</a>
      </li>
      {{ end -}}
    </ul>
  </div> 
</div>
{{ end }}
